.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 30px;
  padding: 20px 0;
  align-items: stretch;
  margin-bottom: 80px;
}

@media (max-width: 650px) {
  .grid {
    grid-template-columns: 1fr;
  }
}