.viewMoreBtn {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  background-color: var(--green-color);
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

